@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/AvenirBook.eot");
  src: url("../fonts/AvenirBook.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirBook.woff2") format("woff2"), url("../fonts/AvenirBook.woff") format("woff"), url("../fonts/AvenirBook.ttf") format("truetype"), url("../fonts/AvenirBook.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.board-card.player .name, .board-card.player .content {
  align-items: center;
  justify-content: center;
}

.modal-content-form, .modal-content-infos, .modal-content {
  display: flex;
  flex-direction: column;
}

.a-book {
  font-family: "AvenirBook";
}

.a-regular, body {
  font-family: "Avenir";
}

.bg-white, .home-main .game-infos-item .white {
  background: #fff;
}

.bg-black, .home-main .game-infos-item .black, .home-main .slider-wrapper .playerSlider {
  background: #2e2e3a;
}

.bg-blue {
  background: #6699cc;
}

.btn {
  text-transform: uppercase;
}
.btn-infos {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  background: black;
  color: #fff;
  -webkit-box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
}
.btn-secondary, .btn-primary {
  color: #fff;
  border: 1px solid white;
  border-radius: 9999999px;
  padding: 5px 20px;
  background: #6699cc;
  background: linear-gradient(0deg, #6699cc 0%, #d8ecff 100%);
}
.btn:focus {
  outline: none;
}

.board-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}
.board-wrapper:before {
  content: "";
  position: absolute;
  background: url("../img/background.jpg");
  background-size: cover;
  z-index: -1;
  /* Keep the background behind the content */
  height: 20%;
  width: 20%;
  /* Using Glen Maddern's trick /via @mente */
  /* don't forget to use the prefixes you need */
  transform: scale(5);
  transform-origin: top left;
  filter: blur(0.8px);
}

.board-wrapper.watching::before {
  filter: blur(0.8px) brightness(0.5);
}

body.startgame .board-wrapper {
  transform: translateX(0);
}

.board {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 80px 0;
  height: auto;
  justify-content: center;
  overflow-y: auto;
}
.board-card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 130px;
  margin: 5px;
  border-radius: 6px;
}
.board-card.active {
  background: #ffe00b;
  background: linear-gradient(45deg, #ffe00b 0%, #ffa20b 100%);
  -webkit-box-shadow: 10px 10px 8px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 8px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 8px -10px rgba(0, 0, 0, 0.75);
}
.board-card.player.eliminated .content {
  background: #2e2e3a;
}
.board-card.player.eliminated .name {
  opacity: 0.5;
}
.board-card.player {
  background: none;
  border: none;
  text-align: center;
  align-items: center;
  color: #fff;
}
.board-card.player .content {
  display: flex;
  background: #c200fb;
  border-radius: 50%;
  height: 96px;
  width: 96px;
}
.board-card.player .name {
  background: #c0c0c094;
  color: #2e2e3a;
  width: 100%;
  display: flex;
  margin-top: 6px;
  padding: 5px 10px;
  border-radius: 6px;
}

.modal {
  display: none;
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.582);
}
.modal-content {
  position: relative;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  height: 50%;
  border-radius: 6px;
  border: 2px solid #fff;
  overflow: hidden;
}
.modal-content:before {
  content: "";
  position: absolute;
  background: url("../img/background.jpg");
  background-size: cover;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* Keep the background behind the content */
  height: 20%;
  width: 20%;
  /* Using Glen Maddern's trick /via @mente */
  /* don't forget to use the prefixes you need */
  transform: scale(6);
  transform-origin: top left;
  filter: blur(0.8px);
}
.modal-content .modal-title {
  color: #fff;
}
.modal-content-infos {
  display: none;
  height: 100%;
  justify-content: space-evenly;
}
.modal-content-form {
  height: 100%;
  justify-content: space-evenly;
}
.modal-content-form .form-input {
  padding: 5px 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.footer-see {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px;
}

.home-header {
  display: flex;
  text-align: center;
  padding: 100px 0 0 0;
  justify-content: center;
  opacity: 0.9;
}
.home-header h1 {
  font-size: 60px;
  color: #2e2e3a;
}
.home-header p {
  align-self: flex-end;
  padding: 0 10px 22px 10px;
}

.home-main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home-main .slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
}
.home-main .slider-wrapper .slider-label {
  margin-bottom: 20px;
  font-size: 25px;
}
.home-main .slider-wrapper .playerSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  outline: none;
}
.home-main .slider-wrapper .playerSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6699cc;
  cursor: pointer;
}
.home-main .game-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.623);
  padding: 0 20px;
  border-radius: 7px;
  height: 150px;
  width: 230px;
  justify-content: space-evenly;
  user-select: none;
}
.home-main .game-infos-text {
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 99999999px;
  -webkit-box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 5px -6px rgba(0, 0, 0, 0.75);
}
.home-main .game-infos-civil {
  color: #fff;
  background: #6699cc;
}
.home-main .game-infos-item {
  display: flex;
}
.home-main .game-infos-item .white {
  color: black;
  background: white;
}
.home-main .game-infos-item .black {
  color: #fff;
}

.home-footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

body:before {
  content: "";
  position: absolute;
  background: url("../img/background.jpg");
  background-size: cover;
  z-index: -1;
  /* Keep the background behind the content */
  height: 20%;
  width: 20%;
  /* Using Glen Maddern's trick /via @mente */
  /* don't forget to use the prefixes you need */
  transform: scale(5);
  transform-origin: top left;
  filter: blur(0.8px);
}

/*# sourceMappingURL=index.css.map */
