@import './reset.scss';
@import './sass/common.scss';
@import './sass/views/btn.scss';
@import './sass/components/board.scss';
@import './sass/components/modal.scss';
@import './sass/components/footer.scss';
@import './sass/components/header.scss';

body{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

body:before {
    content: "";
    position: absolute;
    background: url('../img/background.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(.8px);
}